@import url(https://fonts.googleapis.com/css?family=Roboto);
html,
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 24px;
}

.p-color-gray {
  color: #757575;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.icon.icon-linkedin {
  background-image: url(/img/icon-linkedin.svg);
}

.icon.icon-instagram {
  background-image: url(/img/icon-instagram.svg);
}

.icon.icon-facebook {
  background-image: url(/img/icon-facebook.svg);
}

.icon.icon-twitter {
  background-image: url(/img/icon-twitter.svg);
  width: 40px;
}

.icon.icon-github {
  background-image: url(/img/icon-github.svg);
}

.icon.icon-email {
  background-image: url(/img/icon-email.svg);
  width: 40px;
}

.box {
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.16);
  background-color: #FFF;
  max-width: 768px;
  display: inline-block;
  margin: 56px 8px 16px;
  padding: 16px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .box {
    margin: 16vh 16px 16px;
  }
}

.box-header-profile {
  text-align: left;
  display: table;
  margin-top: -56px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .box-header-profile {
    margin-top: -96px;
  }
}

.box-header-profile .bhp-img {
  border-radius: 100px;
  width: 80px;
  display: table-cell;
}

@media (min-width: 650px) and (min-height: 650px) {
  .box-header-profile .bhp-img {
    width: 160px;
  }
}

.box-header-profile .bhp-title {
  vertical-align: middle;
  line-height: 40px;
  display: table-cell;
  padding-left: 16px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .box-header-profile .bhp-title {
    vertical-align: top;
    line-height: normal;
    padding: 8px 0 0 33px;
  }
}

.box-header-profile .bhp-title .bhp-title-name {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

@media (min-width: 650px) and (min-height: 650px) {
  .box-header-profile .bhp-title .bhp-title-name {
    font-size: 30px;
  }
}

.box-header-profile .bhp-title .bhp-title-sub {
  font-weight: normal;
  font-size: 14px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .box-header-profile .bhp-title .bhp-title-sub {
    font-size: 22px;
  }
}

.text-dexcription {
  text-align: left;
  white-space: pre-line;
  margin: 56px 0 32px;
}

.text-attention {
  border: 1px solid #e0e0e0;
  border-right: none;
  border-left: none;
  padding: 16px 0;
}

.social-links {
  margin: 32px 0 8px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .social-links {
    text-align: left;
    margin: -52px 0 0 192px;
  }
}

.social-links a {
  margin: 0 4px;
}

@media (min-width: 360px) {
  .social-links a {
    margin: 0 8px;
  }
}

@media (min-width: 380px) {
  .social-links a {
    margin: 0 10px;
  }
}

@media (min-width: 440px) {
  .social-links a {
    margin: 0 16px;
  }
}

.social-links a:first-child {
  margin-left: 0;
}

.social-links a:last-child {
  margin-right: 0;
}
