@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  /* 1 */
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  /* 2 */
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  /* 3 */
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  /* 4 */
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  /* 5 */
  58% {
    left: -400%;
  }
  60% {
    left: -500%;
  }
  /* 6 */
  70% {
    left: -500%;
  }
  72% {
    left: -600%;
  }
  /* 7 */
  82% {
    left: -600%;
  }
  84% {
    left: -700%;
  }
  /* 8 */
  100% {
    left: -700%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  /* 1 */
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  /* 2 */
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  /* 3 */
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  /* 4 */
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  /* 5 */
  58% {
    left: -400%;
  }
  60% {
    left: -500%;
  }
  /* 6 */
  70% {
    left: -500%;
  }
  72% {
    left: -600%;
  }
  /* 7 */
  82% {
    left: -600%;
  }
  84% {
    left: -700%;
  }
  /* 8 */
  100% {
    left: -700%;
  }
}

.slider, div#slider {
  overflow: hidden;
}

.slider .slider-wrapper, .slider figure, div#slider .slider-wrapper, div#slider figure {
  width: 800%;
  position: relative;
  -webkit-animation: 144s slidy infinite;
  animation: 144s slidy infinite;
}

.slider .slider-wrapper .sw-content, .slider figure .sw-content, div#slider .slider-wrapper .sw-content, div#slider figure .sw-content {
  width: 12.5%;
  float: left;
}

.slider {
  margin: 48px 16px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .slider {
    margin: 48px 40px;
  }
}

.slider .slider-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (min-width: 650px) and (min-height: 650px) {
  .slider .slider-title {
    margin-left: 16px;
  }
}

.slider .slider-wrapper .sw-content {
  display: table;
}

.slider .slider-wrapper .sw-content .swc-profile {
  text-align: left;
  vertical-align: middle;
  display: table-row;
}

@media (min-width: 650px) and (min-height: 650px) {
  .slider .slider-wrapper .sw-content .swc-profile {
    text-align: center;
    display: table-cell;
    width: 168px;
  }
}

.slider .slider-wrapper .sw-content .swc-profile .swc-profile-img {
  border-radius: 100%;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px 16px 0;
}

@media (min-width: 650px) and (min-height: 650px) {
  .slider .slider-wrapper .sw-content .swc-profile .swc-profile-img {
    width: 104px;
    margin: 0;
  }
}

.slider .slider-wrapper .sw-content .swc-profile .swc-profile-title {
  vertical-align: sub;
  display: inline-block;
}

.slider .slider-wrapper .sw-content .swc-profile .swc-profile-title b {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin: 8px 0 -4px;
}

.slider .slider-wrapper .sw-content .swc-profile .swc-profile-title small {
  font-size: 14px;
}

.slider .slider-wrapper .sw-content .swc-text {
  font-size: 16px;
  font-style: italic;
  line-height: initial;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
}

@media (min-width: 650px) and (min-height: 650px) {
  .slider .slider-wrapper .sw-content .swc-text {
    padding: 0 16px 0 8px;
  }
}
